<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Announcements</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" href="{{ STATIC_URL }}js/components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/announcements/announcements.min.css"/>


    <script src="{{ STATIC_URL }}js/build/app/announcements/announcements{% if not JS_DEBUG %}.min{% endif %}.js"></script>
</head>

<body>
<div id="main-content"></div>
</body>
</html>
